dashboard/node-red/Acrres/email.json
[{"id":"4d9555ba.7b091c","type":"e-mail","z":"cbcbf4c1.533b6","server":"smtp.gmail.com","port":"465","secure":true,"name":"acrres.beheer@gmail.com","dname":"acrres.beheer@gmail.com","x":1081,"y":228,"wires":[]},{"id":"9c4732c4.8bade8","type":"inject","z":"cbcbf4c1.533b6","name":"","topic":"test email","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":291.5,"y":336,"wires":[["3cb51795.f1eb9"]]},{"id":"6e729096.487878","type":"inject","z":"cbcbf4c1.533b6","name":"Zondag avond","topic":"Acrres meterstanden","payload":"","payloadType":"date","repeat":"","crontab":"59 23 * * 0","once":false,"x":299,"y":109,"wires":[["e446445.8e4c6b8"]]},{"id":"e446445.8e4c6b8","type":"file in","z":"cbcbf4c1.533b6","name":"/home/pi/Acrres/Data/log.csv","filename":"/Users/arnekaas/Desktop/Acrres/acrres_log.csv","format":"utf8","chunk":false,"sendError":false,"x":542.5,"y":108,"wires":[["c51abe59.d4fc2"]]},{"id":"3cb51795.f1eb9","type":"file in","z":"cbcbf4c1.533b6","name":"Read Acrres.csv","filename":"/Users/arnekaas/Desktop/Acrres/acrres_log.csv","format":"utf8","chunk":false,"sendError":false,"x":540,"y":340,"wires":[["4d9555ba.7b091c"]]},{"id":"c51abe59.d4fc2","type":"function","z":"cbcbf4c1.533b6","name":"Format email message","func":"msg.filename = \"ACRRES_testsite_1min_log.csv\";\n//attachment = array();\nattachment = [{   \n            filename: msg.filename,\n            content: msg.payload\n        }];\nmsg.attachments = attachment;\nmsg.description = \"Hallo,\\n\\nHere's the weekly status report.\\n\\nKind regards, Arne Kaas.\"; //body\nmsg.payload = msg.description; //subject\nmsg.topic = \"ACRRES testsite usage report\";\nmsg.bcc = 'acrres.beheer@allianders.nl';\nreturn msg;","outputs":1,"noerr":0,"x":816.5,"y":103,"wires":[["4d9555ba.7b091c","d81745e5.6aebe8"]]},{"id":"d81745e5.6aebe8","type":"debug","z":"cbcbf4c1.533b6","name":"","active":false,"console":"false","complete":"true","x":1110.5,"y":144,"wires":[]},{"id":"9ac0ec1d.8c3628","type":"ui_button","z":"cbcbf4c1.533b6","name":"","group":"9561aca0.464bd","order":6,"width":0,"height":0,"passthru":true,"label":"Send system status","color":"","bgcolor":"","icon":"email","payload":"true","payloadType":"str","topic":"","x":275.5,"y":159,"wires":[["20e953be.5b8c04"]]},{"id":"5ccb488f.0b6c4","type":"watch","z":"cbcbf4c1.533b6","name":"","files":"/Users/arnekaas/Desktop/Acrres_log.csv","recursive":"","x":389.5,"y":439,"wires":[[]]},{"id":"d8172ce8.7ba18","type":"ui_text_input","z":"cbcbf4c1.533b6","name":"Cc email adres","label":"Cc email adres","group":"","order":5,"width":0,"height":0,"passthru":true,"mode":"email","delay":"0","topic":"Cc email adres","x":333.5,"y":590,"wires":[["9fe345cc.224a48"]]},{"id":"75b0eea5.8ba4c","type":"comment","z":"cbcbf4c1.533b6","name":"Send the system status to accres.beheer@gmail.com","info":"","x":397.5,"y":60,"wires":[]},{"id":"9fe345cc.224a48","type":"join","z":"cbcbf4c1.533b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"2","x":515.5,"y":591,"wires":[["e1f0bf05.d022a8"]]},{"id":"22636686.24f402","type":"ui_button","z":"cbcbf4c1.533b6","name":"","group":"9561aca0.464bd","order":6,"width":0,"height":0,"passthru":true,"label":"Upload system status","color":"","bgcolor":"","icon":"email","payload":"true","payloadType":"str","topic":"Email send","x":450,"y":397,"wires":[[]]},{"id":"e1f0bf05.d022a8","type":"debug","z":"cbcbf4c1.533b6","name":"","active":false,"console":"false","complete":"true","x":677,"y":583,"wires":[]},{"id":"20e953be.5b8c04","type":"file in","z":"cbcbf4c1.533b6","name":"/home/pi/Acrres/Data/log.csv","filename":"/Users/arnekaas/Desktop/Acrres/acrres_log.csv","format":"utf8","chunk":false,"sendError":false,"x":524,"y":159,"wires":[["28078625.077972"]]},{"id":"28078625.077972","type":"function","z":"cbcbf4c1.533b6","name":"Format email message","func":"msg.filename = \"ACRRES_testsite_log.csv\";\n//attachment = array();\nattachment = [{   \n            filename: msg.filename,\n            content: msg.payload\n        }];\nmsg.attachments = attachment;\nmsg.description = \"Hallo,\\n\\nHere's the log you requested report.\\n\\nKind regards, Arne Kaas.\"; //body\nmsg.payload = msg.description; //subject\nmsg.topic = \"ACRRES testsite log\";\nmsg.bcc = 'acrres.beheer@allianders.nl';\nreturn msg;","outputs":1,"noerr":0,"x":789,"y":159,"wires":[["4d9555ba.7b091c"]]},{"id":"994ad730.46991","type":"ui_text_input","z":"cbcbf4c1.533b6","name":"fastlog name","label":"fastlog name","group":"9561aca0.464bd","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"fastlog name","x":272,"y":231,"wires":[["21534d1a.0ba162"]]},{"id":"21534d1a.0ba162","type":"function","z":"cbcbf4c1.533b6","name":"Format file path","func":"msg.payload = '/home/pi/Acrres/Data/fastlog_'+msg.payload+'.csv;';\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":231,"wires":[["20e953be.5b8c04","c9525585.c4dc88"]]},{"id":"c9525585.c4dc88","type":"debug","z":"cbcbf4c1.533b6","name":"","active":true,"console":"false","complete":"true","x":687,"y":247,"wires":[]},{"id":"9561aca0.464bd","type":"ui_group","z":"","name":"Acrres Total","tab":"b8818466.f0d9d8","disp":true,"width":"6"},{"id":"b8818466.f0d9d8","type":"ui_tab","z":"","name":"Acress","icon":"dashboard","order":1}]