dashboard/node-red/Acrres/mysql.json
[{"id":"9546ceb8.05d5c","type":"tab","label":"Mysql","disabled":false,"info":""},{"id":"632eec01.0ac224","type":"mysql","z":"9546ceb8.05d5c","mydb":"279de2b0.ffb78e","name":"rPi container","x":493.49609375,"y":221.24607849121094,"wires":[["3f225fb6.f1d62"]]},{"id":"40907c63.5ed3e4","type":"function","z":"9546ceb8.05d5c","name":"data to insert qry","func":"msg.topic = \"INSERT INTO system_state_array_log (datetime) VALUES (UNIX_TIMESTAMP('2018-01-28 10:00:00'));\";\n\nreturn msg;","outputs":1,"noerr":0,"x":285.99999237060547,"y":167.00003147125244,"wires":[["632eec01.0ac224","3f225fb6.f1d62"]]},{"id":"b83d64bf.070da8","type":"comment","z":"9546ceb8.05d5c","name":"MYSQL logging (not jet implemented)","info":"","x":155,"y":114,"wires":[]},{"id":"959d2004.0f461","type":"inject","z":"9546ceb8.05d5c","name":"Read log","topic":"","payload":"/Users/arnekaas/Desktop/acrres_log.csv","payloadType":"str","repeat":"","crontab":"","once":false,"x":92.0000114440918,"y":166.99998569488525,"wires":[["40907c63.5ed3e4"]]},{"id":"3f225fb6.f1d62","type":"debug","z":"9546ceb8.05d5c","name":"","active":true,"console":"false","complete":"false","x":671.0000038146973,"y":167.99997234344482,"wires":[]},{"id":"279de2b0.ffb78e","type":"MySQLdatabase","z":"","host":"acrres.energykeeper.eu","port":"3306","db":"acrres","tz":""}]